<h5>This is the home page</h5>
<app-git-search (searchEmitter)=getUser($event)></app-git-search>

<div *ngFor= "let git of  userProfile">
   
    <!-- <img src="{{git.avatar_url}}" alt=""> <br> -->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{git.avatar_url}}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Name: {{git.name}} A full-stack web developer, based in Nairobi, Kenya.</p>
        </div>
      </div>
   
    
    <!-- <h5>Projects: {{git.repos_url}}</h5>  -->
    
     <div class="card" style="width: 18rem;">
        <div class="card-header">
         <h4>My Info</h4> 
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">User Id : {{git.id}}</li>
          <li class="list-group-item">My Location: {{git.location}}</li>
          <li class="list-group-item">login: {{git.login}}</li>
        </ul>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-header">
         <h4>Info</h4> 
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">following: {{git.following}}</li>
          <li class="list-group-item">followers: {{git.followers}}</li>
          <li class="list-group-item">Repositories: {{git.public_repos}}</li>
        </ul>
      </div>


    
</div>
  

